.container{
    height: calc(100vh - 100px);
    background-color: #fcbe00ff;
    /*background-image: url(../public/img/fondo.svg);
    background-color:#4F2582;*/
    overflow: hidden;
}

.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.wrapper{
    width: 300vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: all 1s ease-in-out;
   
    
}


/*
.swiper {
    width: 600px;
    height: 300px;
  }*/

.imgContainer{
    width: 100vw;
    height: 90%;
    position: relative;
}



@media screen and (max-width: 480px) {
    .container{
      height: 50vh; 
    }
}